<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Admin</title>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toogle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" target="_blank">CmsShoppingCart</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% pages.forEach(function(page){ %>
          <% if(page.slug=="home") { %>
          <li class="nav-item"><a class="nav-link" href="/"><%= page.title %></a></li>
          <% }else{ %>
          <li class="nav-item"><a class="nav-link" href="<%= page.slug %>"><%= page.title %></a></li>
          <% } %>
          <% }); %>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cart/checkout">My Cart (
              <% if(typeof cart !=="undefined"){ %>
              <%= cart.length %>
                <% }else{ %>
                0 )
                <% } %>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <div class="container">
    <%- messages('messages', locals) %>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/products">All product</a>
          </li>
          <% categories.forEach(function(c){ %>
          <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
          <% }) %>
        </ul>
      </div>
      <div class="col-xs-12 col-md-1"></div>
      <div class="col-xs-12 col-md-8">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->